<div class="container-fluid">
  <div class="row mt-1a">
      <div class = "col-lg-6">
          <div class="p-5">
              <app-image-upload-with-preview
              [fileContent] = "fileContent"></app-image-upload-with-preview>
          </div>
      </div>
  </div>
  <div class = "input-group">
      <input type = "file" class ="inputfile" id ="file" accept='text/plain' (change)="onChange($event.target.files)" value="Input">
      <button type = "button" class ="btn btn-outline-secondary -col-3 mx-1" >Close</button>
      <button type = "button" class ="btn btn-outline-secondary -col-4 mx-2">Validate</button>
  </div>
  <div class = "row text-center">
      <div class = "col-lg-2 mt-5"><h1>Message</h1></div>
  </div>
</div>
