<!DOCTYPE html>
<html>
<head>
  <title>My First HTML</title>
  <meta charset="UTF-8">
<style>
.largeLetter
{
	font-size:240%;
 	font-family:impact;
}
.centered
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>
<body style="background-color:crimson;">

<h1 style="text-align:center"> <span class="largeLetter">You're</span></h1>

<h1 style="color:white; font-size:35px;text-align:center; font-family:courier;background-color:black; border-style:solid; border-color:white;">
 	<span class="largeLetter">N</span>ow
 	<span class="largeLetter">E</span>xtremely
 	<span class="largeLetter">A</span>ccurate
 	<span class="largeLetter">T</span>oday!
</h1>

<p style="color:white; font-size:25px; text-align:center;">Brought to you by students of the University of Central Missouri</p>

</body>
</html>
